{% extends 'blog/blog.html.twig' %}

{% block content_blog %}
    <h2>{{ 'articles_for_category'|trans({'%category%': category.name}) }}</h2>
    {% if articles is defined and articles|length > 0 %}
        <ul>
            {% for article in articles %}
                <li>
                    {{ article.title }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ 'no_articles'|trans }}</p>
    {% endif %}
{% endblock %}