{% for article in articles | slice(0, 3) %}
    <article>
        <h3>{{ article.title }}</h3>
        <a href="{{ path('blog_article', {'id': article.id}) }}">Read More</a>
    </article>
{% else %}
    <p>No articles found</p>
{% endfor %}