{% for article in articles | slice(0, 3) %}
    <article>
        <h3>{{ article.title }}</h3>
        <a href="{{ path('blog_article', {'idArticle': article.id}) }}">{{ 'read_more'|trans }}</a>
    </article>
{% else %}
    <p>{{ 'no_articles_found'|trans }}</p>
{% endfor %}