<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu!{% endblock %}</title>
    </head>
    <body>
    <h1>{% block title %}Bienvenu!{% endblock %}</h1>
        {% block menu %}

        {% endblock %}
    </body>
</html>
